<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @fact.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @fact.image %>
</p>

<%= link_to 'Edit', edit_fact_path(@fact) %> |
<%= link_to 'Back', facts_path %>
